<html>
  <head>
  </head>
  <body>
    <style>
      body {
        background-color: white !important;
        font-family: Arial;
        padding: 10px;
      }
      .title {
        font-size: 100px;
        text-align: center;
      }
      .subtitle {
        font-size: 80px;
        text-align: center;
        margin-bottom: 200px;
      }
      table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          margin-bottom: 100px;
          font-size: 60px;
          margin-left: -1000px;
          left: 50%;
          position: relative;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 50px;
          font-size: 50px;
      }
      .page-break { display:block; clear:both; page-break-after:always; }
    </style>
    <h1 class="title">Daily Attendance Report</h1>
    <h3 class="subtitle">MLK High School</h3>
    <% User.all.where(role: 1).each do |teacher| %>
      <table style="width:2000px;">
        <tr>
          <th style="width: 100%;"><%= teacher.last %></th>
        </tr>
        <% User.all.where(home: teacher.id).order('last ASC').each do |student| %>
          <tr>
            <td><%= student.last %>, <%= student.first %></td>
            <% if student.absent == true %>
              <td>Absent</td>
            <% else %>
              <td>Present</td>
            <% end %>
          </tr>
        <% end %>
      </table>
      <% unless teacher.id == User.all.where(role: 1).last.id %>
        <div class="page-break"></div>
      <% end %>
    <% end %>
  </body>
</html>
