<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.text_field :studentid, autofocus: true, autocomplete: "off",reqired: true, placeholder: "Student ID", class: "input" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", required: true, placeholder: "Password", class:"input" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: "submit" %>
  </div>
<% end %>
<style>
h2 {
  font-family: 'HKGrotesk-Bold';
  font-size: 70px;
  text-align: center;
  margin-top: 150px;
  color: #3c73ff;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 200px;
}
</style>
