<!DOCTYPE html>
<html>
  <head>
    <title>My PDF</title>
    <%#= wicked_pdf_stylesheet_link_tag "style" -%>
  </head>
  <body>
    <div class='my_container'>
      <%= yield %>
    </div>
  </body>
</html>
